@model VeganLife.Web.ViewModels.Recipes.RecipesListViewModel
@{
    this.ViewData["Title"] = "Vegan Recepies";
}
<h1 #allRecipes>All the vegan recipes you need for your veggie lifestyle.</h1>
<hr />
<div class="row">
    @foreach(var recipe in this.Model.Recipes)
    {
        <div class="card col-md-4" style="width: 18rem;">
            <img class="card-img-top" src="@recipe.ImageUrl" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><a asp-action="OneRecipe" asp-route-id="@recipe.Id">@recipe.Name</a></h5>
            </div>
        </div>
    }
</div>
<hr />

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item @if (!Model.HasPreviousPage) {<text>disabled</text> }">
      <a class="page-link"  asp-action="All" asp-route-id="@Model.PreviousPageNumber" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    @*<li class="page-item"><a class="page-link" href="#"></a></li>
    <li class="page-item"><a class="page-link" href="#"></a></li>
    <li class="page-item"><a class="page-link" href="#"></a></li>*@
    <li class="page-item @if (!Model.HasNextPage) {<text>disabled</text> }">
      <a class="page-link" asp-action="All" asp-route-id="@Model.NextPageNumber" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>